<aside>
	<div class="aside-container">
		<form id="search" method="get" class="search" action="{{ site.url }}/search">
			<div class="select-style">
				<select name="s">
					<option value=" " selected="selected">Select a Program</option>
					{% for program in site.data.programs %}
						<option value="{{ program[0] }}">{{ program[0] }}</option>
					{%endfor%}
				</select>
			</div>
			<button type="submit">Find Schools</button>
		</form>
		<form class="contact" name="contact" method="POST">
			<h3>Get in touch</h3>
			<input type="text" class="name" name="fullname" placeholder="Name">
			<input type="text" class="email" name="email" placeholder="Email">
			<textarea name="message" class="message" placeholder="Message"></textarea>
			<button type="submit">Submit</button>
		</form>
	</div>
</aside>