button, .fr-button{
	display: inline-block;
	background-color: $tertiary;
	transition: all 0.3s ease;
	padding: 10px 15px;
	border-bottom: 2px solid darken($tertiary, 15%);
	color: #FFF;
	font-size: $fontsizeH3;
	font-weight: 900;
	text-decoration: none;
	cursor: pointer;
	&:hover{
		background-color: darken($tertiary, 15%);
	}
}