body{
	padding-top: $headerHeight;
}

main{
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 85%;
	margin: 0 auto;
	@include breakpoint($breakPoint) {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.content-container{
		width: 100%;
		padding: 40px 0;
	}
}