.select-style{
	background-color: #FFF;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
	border: 2px solid $secondary;
	position: relative;
	select {
		background: transparent;
		font-size: $fontsizeP;
		padding: 5px;
		display: block;
		margin-bottom: 0;
	}
	&:after{
		width: 35px;
		height: 35px;
		background-color: $secondary;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 10px;
		content:'▼';
		position: absolute;
		right: 0;
		top: 0;
		pointer-events: none;
	}
}

form{
	input, textarea, select{
		width: 100%;
		margin-bottom: 20px;
		background-color: #FFF;
		font-size: $fontsizeP;
		font-family: $body;
		font-weight: 400;
		line-height: 1.6em;
	}
	input, textarea{
		padding: 10px;
	}
}